.idea
.idea/**
__pycache__/
*.pyc
/test/**
/jupyter-notes/data/**

/**/jupyter-demo/data/**

.jupyter

.obsidian/plugins/copilot/data.json
/test.md

./*.base

# Quartz build
node_modules
/public
.quartz-cache
.quartz/
prof
tsconfig.tsbuildinfo